<header>
  <div class='navbar-bars' style='display:none;'><i class='fa fa-bars fa-2x'></i> <span></span></div>
  <div class='name'><a href='{{outdirs}}'><img src='{{outdirs}}/images/varda-brushershands.png' title='VARDA' alt-text='VARDA'></a></div>
<p class='line'></p>
<!--Navbar for big screens -->
  <nav class='bignavlinks'>
  	  <a class='home-select' href='{{outdirs}}'>Home</a>
  	  <a class='media-select' href='{{outdirs}}/media'>Media</a>
  	  <a class='shows-select' href='{{outdirs}}/shows'>Shows</a>	  
  </nav>

<!-- Alt navbar (slide down from bars, for small screens) -->
	<nav class='smallnavlinks' style='display:none;'>
	<ul>
	  <a class='home-select' href='{{outdirs}}'><li>Home</li></a>
	  <a class='media-select' href='{{outdirs}}/media'><li>Media</li></a>
	  <a class='shows-select' href='{{outdirs}}/shows'><li>Shows</li></a>
	</ul>
	</nav>
</header>
<!-- Overlay effect when opening topnav on small screens -->
<div class='overlay' title='close menu' id='overlaybkgrnd'></div>
