<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Home | VARDA </title>
	<meta name='keywords' content='varda, music, band, fiddle, violin, viola, klezmer, Scandinavian, Scandi, duo'/>
	<link rel='icon' href='../images/favicon-32x32.png'>
	<link rel='canonical' href=''>
	<meta id='viewport' name='viewport' content='width=device-width, initial-scale=1'/>
	<!-- STYLES -->
	<link rel='stylesheet' type='text/css' href='/css/general_style.css'/>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'/>
	<link rel='stylesheet' type='text/css' href='/css/font-awesome.min.css'/>
	<!-- page-specific stylesheets -->
	<link rel='stylesheet' type='text/css' href='/css/Home.css'/>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- SCRIPTS -->
	<script type='text/javascript' src='/js/jquery-3.1.1.min.js'></script>
	<script type='text/javascript' src='/js/general_fxns.js'></script>
</head>
	<!--////////////////////////////////////////////////////////////////// -->

<body>
<!--<div id='bigbanner' style="background: url('../images/varda2.jpg') 50% 50% no-repeat;"></div>-->
		{{>pageheader}}
		<div class="page-content">
		<div class="wrapper">
		    {{{ contents }}}
		</div>
		</div>
		{{>footer}}
	</body>
</html>