.home-select{font-weight:bolder;font-size:1.4em;}
.reviews p{
	display:block;
	font-size:1.1em;
	line-height: 1.5em;
	padding:1em 1.5em;
	margin:1em 2em;
	text-align:center;
}
.reviews figure img{width:550px;max-width:100%;display:block;text-align:center;margin:auto;opacity:0.6;border-radius:10px;}
.reviews figure img:hover{opacity:1;}