.home-select{font-weight:normal;font-size:1.2em;}
.shows-select{font-weight:bolder;font-size:1.4em;}
@media only screen and (max-width:590px){.bignavlinks a.shows-select{font-size:1.2em!important;}}

.page-content{max-width:800px;padding:0.5em 1.5em 0 1.5em;margin:auto;z-index:0;}
.page-content ul{width:95%;padding:1em;margin:2em auto 3.5em auto;}
.page-content ul li {position:relative;display: table;width: 100%;margin:2em 0 2em 0;} 
.page-content ul li span {
	width:20%;
    padding: 0.5em 1.0em;
    vertical-align: middle;
    display: table-cell;
    height: 2.1em; text-align:left;
}
.page-content ul li span:2nd-child{width:50%;text-align:right;}
.page-content ul li span:last-child{width:20%;text-align:right;}
.showslist{background-color:rgba(79, 82, 100, 0.5);border-radius:10px;}

#s2019 h2, #s2018 h2, #s2017 h2{cursor:pointer;}
#s2019 .fa, #s2018 .fa, #s2017 .fa {padding-right:0.3em;}
#s2019 .showslist, #s2018 .showslist, #s2017 .showslist{display:none;}

/*#ef9623*/


@media only screen and (max-width:600px){
	.page-content ul li span,.page-content ul li span:last-child{
		width:100%;display:block;text-align:center;vertical-align:middle;height:100%;padding:0.2em 0 0.2em 0;
	}
	.page-content ul{width:90%;margin:1em auto;}
}

@media only screen and (max-width:450px){
	.page-content{padding:1em;margin:auto;}
	.wrapper{padding:0.5em;}
}
/* https://meyerweb.com/eric/tools/color-blend/#:::hex #4f5264*/ 